@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
:root {
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7 ;
    --hint-yellow :#fcf1cc ;
    --pure-white : #fff;

}
body{
    background-color: var(--pure-white);
     
}

/* basic styling */
 a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);  
 }
 .flex{
    display: flex;
    align-items: center;
   
 }
 li{
    list-style: none;
 } 
 .between{
    justify-content: space-between;
 }
 .gap-2{
    gap: 2rem;
 }
 .gap-3{
    gap: 3rem;
 }

 .wrapper {
    max-width: 1400px;
  
    margin: 0 auto;
     padding: 1.5  rem;

 }
/*header syling */
.navbar{
    min-height :14vh;

}
.logo
{
    font-size: 2cap;
    font-weight: 600;
    color: var(--gold-finger);
}
.btn {
    display: inline-block;
    padding: 0.9rem 2rem; 
    background-color: var(--gold-finger); 
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition:  0.3s ease-in-out; 
}
.btn:hover {
   
    background-color : var(--lead);
}
.cart-icon {
    position: relative;
    font-size: 1.5rem;
    color: var(--lead);
}
.cart-value {
    position:absolute;
    top:50%;
    left:-1px;
    font-size: 0.85rem;
    width:20px;
    aspect-ratio: 1;
    border-radius: 100vh;
    background-color: var(--gold-finger);
    color:var(--lead);
    text-align: center;
    line-height: 20px;
}
.desktop-action.hamburger{

    font-size: 1.5rem;
     display: none  ;
}
.mobile-menu {

}
/* section styling */

/* footer styling */







































/* media query for mobile devices */
@media screen and (max-width: 768px) {
   .navlist .desktop-action .btn{
    display: none; 
   }
   .desktop-action .hamburger  {
    display: block;
   } 
   .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform:translateX(-50%);
    width: 20rem;
    padding: 2rem;
    background-color: var(--pure-white);
   }
} 