@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}
:root {
    --lead: #212121;
    --gold-finger: #f2bd12;
    --eye-ball: #fffdf7 ;
    --hint-yellow :#fcf1cc ;
    --pure-white : #fff;

}
body{
    background-color: var(--pure-white);
     
}

/* basic styling */
 a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);  
 }
 .flex{
    display: flex;
    align-items: center;
   
 }
 li{
    list-style: none;
 } 
 .between{
    justify-content: space-between;
 }
 .gap-3{
    gap: 3rem;
 }

 .wrapper {
    max-width: 1400px;
  
    margin: 0 auto;
     padding: 1.5  rem;

 }
/*header syling */
.navbar{
    min-height :14vh;

}
.logo
{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--lead);
}

/* section styling */

/* footer styling */







































/* media query for mobile devices */